.navWrapper{
    box-shadow: 1px 2px 10px #0002;
    padding:0.5rem 0;
    width:100%;
}
.navList{
    display: flex;
    gap:0.5rem;
    justify-content: center;
    list-style: none;
}
.navList a {
    color:var(--color-blue-secondary);
    text-decoration: none;
    width:100%;
}
.navList li{
    text-align: center;
    width:100%;
}
.navList a, .navLogo{
    padding:0.5rem 0;
}
.navLogoContainer{
    display:flex;
    justify-content: center;
    width:100%;
}